/* src/pages/Dashboard/Dashboard.module.css */

.dashboardContainer {
    /* Używamy klasy page-content z App.css, ale dodajemy tu specyficzne style */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 0;
}

.welcomeText {
    color: var(--text-muted);
}

.loading {
    color: var(--secondary-color);
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.statCard {
    background-color: var(--input-bg-color); /* Ciemniejsze tło niż surface-dark */
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid var(--secondary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.statCard h3 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-weight: 500;
}

.statValue {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-light);
}